<br>
<h1 class="text-center"> Employee Data Overview </h1><hr>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <!-- Logo / Title -->
    <a class="navbar-brand" href="#">EmployeeApp</a>
<!-- 
     Toggle button (for mobile) -->
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">Hello
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item"><a class="nav-link active" routerLink="/">Home</a></li>

        <li class="nav-item"><a class="nav-link active" routerLink="/employeeList">EmployeeList</a></li>

        <li class="nav-item"><a class="nav-link active" routerLink="/addEmployee">AddEmployee</a></li>

      </ul>
    </div>

  </div>
</nav>

<router-outlet></router-outlet>