<h1 class="text-center">New Employee Form</h1>
<br><hr>

<div class="container">


    <form (ngSubmit)="saveEmp()" #empForm="ngForm">

        <div class="form-group">
            <label for="form1">Employee Id</label>
            <input type="number" placeholder="Enter your Id " class="form-control" [(ngModel)]="employee.id" name="id" required>
        </div><br>

        <div class="form-group">
            <label for="form1">Employee Name</label>
            <input type="text" placeholder="Enter your Name " class="form-control" [(ngModel)]="employee.name" name="name" required>
        </div><br>

        <div class="form-group">
            <label for="form1">Employee Tech</label>
            <input type="text" placeholder="Enter your technology " class="form-control" [(ngModel)]="employee.tech" name="tech" required>
        </div><br>

        <div class="form-group">
            <label for="form1">Employee Salary</label>
            <input type="number" placeholder="Enter your salary " class="form-control" [(ngModel)]="employee.salary" name="salary" required>
        </div>
        <br><br>

        <button type="submit" class="btn btn-success">Add Employee</button>

    </form>

</div>